<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log_path">${sys:catalina.home}/logs/zcrTest/</Property>
    </Properties>
 
    <Appenders>
        <!-- 控制台 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
        </Console>
        <!-- 文件日志 -->
        <RollingFile name="DailyRollingFile" fileName="${log_path}/mylog.log"
            filePattern="${log_path}/mylog.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
            <TimeBasedTriggeringPolicy  interval="1"/>
　　　　　　<SizeBasedTriggeringPolicy size="10 MB" /> 
        </RollingFile>
        <!-- sql日志 -->
        <RollingFile name="Sql" fileName="${log_path}/sql.log"
            filePattern="${log_path}/sql.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n" />
            <TimeBasedTriggeringPolicy  interval="1"/>
　　　　　　<SizeBasedTriggeringPolicy size="10 MB" /> 
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="druid.sql.Statement" level="debug" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="Sql"/>
        </logger>
        <logger name="druid.sql.ResultSet" level="debug" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="Sql"/>
        </logger>
        <Logger name="mylog" level="trace" additivity="false">
            <appender-ref ref="Console"/>  
 　　　　　　<appender-ref ref="DailyRollingFile" />  
 　　　　</Logger>
 
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
